<div class="col-md-9">
   <ul>
    {{#each}}
      {{#link-to "dogs.show" this}}
         <li>
            <span class="photo"><img {{bind-attr src=photo}} class="img-thumbnail" style="width: 50px; height: 50px"></span>
            <span class="name">Name: {{name}} </span>
            <span class="age">Age: {{age}} </span>
         </li>
      {{/link-to}}
    {{/each}}
   </ul>
   <form {{action createDog on="submit"}}>
     {{input value=dogName placeholder="Name"}}
     <br>
     {{input value=dogAge placeholder="Age"}}
     <br>
     {{input value=dogPhoto placeholder="Photo Url"}}
     <br>
     {{input type="submit"}}
   </form>
</div>
